@import '../abstract/variaveis';

.banner {
    background: url('../imagens/banner.jpeg') 30% center no-repeat;
    min-height: 550px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner {
        padding: 3rem;
        background-color: $cor-tercearia;
        opacity: 0.9;
        border-radius: 25px;
        h1 {
            font-size: $tamanho-texto;
            color: $cor-primaria;
            text-align: center;
            padding: 1rem;  
        }
        h2 {
            font-size: $tamanho-texto / 2;
            color: $cor-secundaria;
        }
    }
}
